html{
    margin-top: 1%;
}

p{
    font-size: 17px;
}

.Form-login
{
    margin-left: 60%;
    padding: 8px;
}

img{
    width: 150px;
    height: 140px;
}

input{
    border-radius: 50px;
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 16px;
    width: 1700px;
    text-align: center;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #f1ba439a;
    overflow: hidden;
    border-radius: 10px;
}

li{
    width: 425px;
    border-right: 1px solid rgb(0, 0, 0);
}

h1{
    margin-top: 35px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    height: 100px;
}

.nav-btn:link{
    text-decoration: none;
    color: black;
}

.nav-btn:visited{
    text-decoration: none;
    color: black;
}

.nav-btn:hover{
    background-color: rgba(233, 184, 128, 0.507);
}

#active{
    text-decoration: underline;
}

.Container-lastRecette
{
    font-size: 17px;
    margin-left: 10%;
    margin-bottom: 5%;
}

.Conatainer-help
{
    font-size: 17px;
    margin-left: 10%;
}

.titleContact
{
    text-align: center;
    font-size: 40px;
}

.Form-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form-contact, label{
    margin: 15px;
}

.Form-contact, #submitContact
{
    margin-top: 15px;
}

footer{
    font-size: 20px;
    text-align: center;
    bottom: 0;  
    width: 75%;
    margin-left: 12%;
}